body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* IZQUIERDA */
.left {
    width: 50%;
    text-align: center;
}

.logo {
    width: 250px;
}

.left h2 {
    color: #333;
    font-weight: normal;
}

/* DERECHA */
.right {
    width: 300px;
}

.login-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
}

.login-box input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn-login {
    background-color: #1877f2;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-create {
    background-color: #42b72a;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-box a {
    text-align: center;
    font-size: 12px;
    margin: 10px 0;
    text-decoration: none;
    color: #1877f2;
}

hr {
    margin: 10px 0;
}